---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" %}
    <div class="card mb-3">
      <div class ="card-body">
        <h2 class="card-title h5">Visit the Museum</h2>
        <p class="card-text">We invite you to visit our museum in the physics area in the Noyce Science Center at Grinnell College. The Seth Thomas clocks are displayed in the Kistle Science Library in the Center. </p>
        <h3 class="card-text" class="text-center">Noyce Center Open Hours</h3>
        <p class="card-text" class="text-center" class="fst-italic"> Please call the Science Academic Support Office at 641-269-3172 to confirm hours </p>
        <p class="card-text">Academic year: daylight and evening hours</p>
        <p class="card-text">Summers: normal business hours, but phone ahead</p>
        <p class="card-text">Holidays and academic break periods: often closed, but phone ahead</p>
        <a href="https://map.concept3d.com/?id=1232#!m/346248?ce/34265,34271,34337,0,34272?s/noyce?ct/36684,34270,0" class="btn btn-primary">Campus Map</a>
       
      </div>
    </div>
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>